@using AntDesign
@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<Button Type="@ButtonType.Primary"
        OnClick="IncrementCount">
    Click me!
</Button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
